.content {
	height: 100vh;
	width: 100vw;
	display: flex;
    align-items: center;
	justify-content: center;
}

.card {
	width: 85mm;
	height: 55mm;
	box-shadow: -0.5em 0.5em 1em rgba(1,1,1,0.2);
	border: none;
	border-radius: 0px;
	padding: 5mm;
	position: relative;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.col-md-8, .col-md-4 {
  position: relative;
  width: 100%;	 
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

 .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
.card h1, .card h2 {
	font-size: 13pt;
	font-family: Playfair Display;
	font-weight: 600;
	margin-top: 1mm;
    display: inline;
}

.card h2 {
	font-size: 12pt;
}

.card h3 {
	font-family: Chivo;
	font-size: 11pt;
	margin-top: 10mm;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

.image img {
	width: 25.5mm;
	float: right;
}

.socials {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-family: inconsolata;
	font-weight: 500;
	font-size: 10pt;
	line-height: 1.3;
	position: absolute; 
	bottom: 5mm;
	margin-right: 5mm;
}

.socials .tele {
	font-family: Chivo;
}

.raise {
  vertical-align: .09em;
}